# Node modules
node_modules

# Build output
dist

# Environment variables
.env

# OS/system files
.DS_Store

# Vercel/Render build files
.vercel

client/.env
server/.env

# Node & React
node_modules/
dist/
.env
*.log
